@font-face {
  font-family: "Neue-Montreal";
  src: url(../../public/NeueMontreal-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Sentient";
  src: url(../../public/Sentient-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Sentient";
  src: url(../../public/mn400.woff2) format("woff2");
}

h1, h2{
  font-family: 'Sentient';
  text-transform: uppercase;
}

p{
  font-size: 1rem;
}

h5{
  font-size: 1.2rem;
}

h4{
  font-size: 1.44rem;
}

h3{
  font-size: 1.728rem;
}

h2{
  font-size: 2.074rem;
}

h1{
  font-size: 2.448rem;
}


:root {
  --main-bg-color: #ffffff;
  --main-text-color: #161616;
  --border-color: #161616;
  --max-width: 1400px;
  --gap: 10px;
  --line-height: 1.5;
  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--main-text-color);
  font-family: "Neue-Montreal";
  font-weight: 400;
  line-height: 1.3;
}

html,
body {
  background-color: rgb(255, 255, 255);
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

main {
  scroll-behavior: smooth;
}

.nav-active {
  background: #161616c6;
  backdrop-filter: blur(10px);
}

.nav-active > div > div > div > h3 {
  color: white;
}

.nav-active > div > div:nth-child(2) > ul > li > a {
  color: white;
}


@media only screen and (max-width: 600px) {
  
  p{
    font-size: .833rem;
  }
  h5{
  font-size: 1rem;
}

h4{
  font-size: 1.2rem;
}

h3{
  font-size: 1.44rem;
}

h2{
  font-size: 1.44rem;
}

h1{
  font-size: 2.074rem;
}

}
