.even{
    grid-column: 1 / span 5;
    margin-bottom: 2rem;
}

.odd {
    grid-column: 7 / span 5;
    margin-bottom: 2rem;
}

.priceLi {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
    padding: 0.5rem 0;
}

.desc{
    font-size: .8rem;
    margin-top: .5rem;
}

.price{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 1rem;
}

@media only screen and (max-width: 800px) {
    .odd, .even {
      grid-column: 1 / span 13;
      margin-bottom: 1rem;
    }
  
    .priceLi {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      border-bottom: 1px solid var(--border-color);
      padding: 0.5rem 0;
    }
  }
  