.listItem{
    grid-column: span 6;
   
}

.priceLi{
 display: flex;
 justify-content: space-between;
  border-bottom: 1px solid black;
   padding: 1rem 0;
}




@media only screen and (max-width: 600px) {
    .listItem{
        grid-column: span 12;
        margin-bottom: 2rem;
    }

    .treatment{
        padding-right: 1rem;
    }

}