.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  overflow: hidden;
  z-index: 4;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-bottom: 1px solid var(--border-color);
}

.subContainer {
  width: 95%;
  max-width: var(--max-width);

  gap: var(--gap);
}
