.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  overflow: hidden;
  z-index: 4;
}

.subContainer {
  width: 95%;
  max-width: var(--max-width);
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(12, 1fr);
}

.botoxPrices {
  grid-column: 1 / span 5;
}

.dfPrices {
  grid-column: 7 / span 5;
}

.fillerPackagesPrices {
  grid-column: 1 / span 5;
}

.skinBoosterPrices {
  grid-column: 7 / span 5;
}

.microNeedlingPrices{
  grid-column: 1 / span 5;
}

.priceLi {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
  padding: 0.5rem 0;
}

.desc{
  font-size: .8rem;
  margin-top: .5rem;

}

.price{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 1rem;
}

@media only screen and (max-width: 800px) {
  .botoxPrices {
    grid-column: 1 / span 13;
    margin-bottom: 0.5rem;
  }

  .dfPrices {
    grid-column: 1 / span 13;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .fillerPackagesPrices {
    grid-column: 1 / span 13;
    margin-bottom: 0.5rem;
  }

  .skinBoosterPrices {
    grid-column: 1 / span 13;
  }

  .microNeedlingPrices{
    grid-column: 1 / span 13;
  }

  .priceLi {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
    padding: 0.5rem 0;
  }
}
